// Fixes IE flexbox issues
#content-flex-fix {
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  align-items: stretch;
  align-content: stretch;
  min-height: 100vh;
}

// Content wrapper
#content-wrapper {
  display: flex;
  min-height: 100%;
  flex: 1 1 auto;
  flex-direction: column;
  align-items: stretch;

  #content {
    flex: 1 1 auto;
    min-height: 0;
  }
  .footer-wrapper {
    flex: 0 0 auto;
  }
}
